.headHolder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 8px;
}

.btn {
  width: 42px;
  height: 42px;
  color: #CFCFCF;
  border: 1px solid #E2E2E2;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
}

.add {
  width: 147px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: #242EDB;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}